<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spl1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spl1"
        android:supportsRtl="true"
        android:theme="@style/Theme.HttpRequest"
        tools:targetApi="29">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false">-->

<!--        </activity>-->
        <activity
            android:name=".nfcTransmitterPage"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".cardhealthinfo"
            android:exported="false" />
        <activity
            android:name=".possibleEmergencies"
            android:exported="false" />
        <activity
            android:name=".EmergORNotSelector"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" />
        <activity
            android:name=".phonedoc"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.HttpRequest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedHistory"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" />
        <activity
            android:name=".hidden1"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" >

        </activity>
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.HttpRequest" />
        <service
            android:name=".HostCardEmulatorService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
        <intent-filter>
            <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
        </intent-filter>

        <meta-data
            android:name="android.nfc.cardemulation.host_apdu_service"
            android:resource="@xml/adpuservice" />
        </service>
    </application>

</manifest>